<div class="signup">
<h2>Sign Up</h2>
<% if flash[:errors] %>
<p> Uh Oh! </p>
<% flash[:errors].each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>

<form class="signup-form" action="<%= users_url %>" method="post">
  <%= auth_token_input %>
  <label class="signup-label">
    Username
    <input class="signup-input" type="text" name="user[username]" value="<%= @user.username %>">
  </label>

  <label class="signup-label">
    Password
    <input class="signup-input" type="password" name="user[password]" value="<%= @user.password %>">
  </label>

  <input class="signup-submit" type="submit" value="Sign Up">
</form>
</div>