<!DOCTYPE html>
<html>
<head>
  <title>UrbanBlurbin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>

</head>
<body>

	<script>
	   <% if signed_in? %> 
	   window.current_user = "<%=current_user.username %>"
	   <% end %>
	</script>
	


<%= yield %>

	
</body>
</html>
