<!DOCTYPE html>
<html>
<head>
  <title>UrbanBlurbin</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places"></script>

</head>
<body>

	<script>
	   <% if signed_in? %> 
	   window.current_user = "<%=current_user.username %>"
	   <% end %>
	</script>
	


<%= yield %>

	
</body>
</html>
